body {
     /** rem 단위 사용을 위한 기본 폰트 사이즈 설정  */
    font-size: 16px;
  }
  .profile-title {
    text-align: center;
    font-size: 0.8rem;
  }
  .color-red {
    color: red;
  }
  @font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .할말 {
    text-align: center;
    font-family: 'Bazzi';
  }
  .요소 {
    font-size: 25pt;
    color: aqua;
    font-weight: bold;
  }
