body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .bookcover {
    margin: 100px auto;
    position: relative;
  }
  .bookdot {
    border-radius: 9px;
    border: 2px dashed #ffffff;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  .page {
    border-radius: 9px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  .profile-container {
    margin-right: 1.5rem;
  }
  .content-title {
    padding: 6px 0;
  }
  .profile-title {
    padding: 6px;
  }
  .프로필 {
    margin: 20px auto 20px 14px;
  }
  .요소 {
    margin-left: 10px;
    margin-top: 10px;
  }